
@{
    ViewBag.Title = "Index";
}

<h2>World cups:</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Tips</th>
            <th scope="col">År</th>
            <th scope="col">Värdnation</th>
            <th scope="col">Segerrnation</th>
            <th scope="col">Tipsvinnare</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Html.ActionLink("VM-Slutspel", "VM2018", "Cups")</th>
            <td>2018</td>
            <td>Ryssland</td>
            <td>--</td>
            <td>--</td>
        </tr>
        <tr>
            <th scope="row">@Html.ActionLink("VM-Slutspel", "VM2014", "Cups")</th>
            <td>2014</td>
            <td>Brasilien</td>
            <td>Tyskland</td>
            <td>Jesper Eriksson</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td> witter</td>
        </tr>
    </tbody>
</table>

